*gallery_box{
    margin: 0;
    padding: 0;
  }
  .gallery_out {
    width: 800px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    top: 100px;
  }
  .gallery_out .gallery_inner {
    width: 100%;
    height: 100%;
  }
  .gallery_out .gallery_inner .gallery_img {
    width: 300px;
    height: 200px;
    position: absolute;
    transition: 0.3s;
  }
  .gallery_out .gallery_inner .gallery_img img {
    width: 100%;
    height: 100%;
  }
  .gallery_out .left {
    left: 0;
  }
  .gallery_out .right {
    left: 780px;
  }
  .gallery_out .gallery_button {
    width: 175px;
    height: 15px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
  }
  .gallery_out .gallery_button .button_p {
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    background-color: silver;
  }
  .gallery_out .gallery_button .button_p:first-child {
    background-color: #8628003b;
  }
  .gallery_out #last {
    transform: translateX(0);
    z-index: 9;
    opacity: 1;
  }
  .gallery_out #first {
    transform: translateX(82%) scale(1.3);
    z-index: 10;
    opacity: 1;
  }
  .gallery_out #second {
    transform: translateX(164%);
    z-index: 9;
    opacity: 1;
  }
  .gallery_out #left {
    transform: translateX(-41%);
    z-index: 1;
    opacity: 0;
  }
  .gallery_out #right {
    transform: translateX(90%);
    z-index: 1;
    opacity: 0;
  }