<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="ShanghaiMemory" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>好书推荐</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/nicepage.js') }}"
            defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "{{ url_for('static', filename='css/ai-logo.png') }}"
}
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" class="u-body u-xl-mode" data-lang="en"

      style="background-image:url(https://img.gejiba.com/images/58d1d537216280cd4302d76e302c01f2.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;"


>

<header class="page-head u-clearfix u-header u-sticky u-sticky-7a89 u-header myheader" id="sec-ba3e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://ShanghaiMemory.Asia" class="head-logo u-image u-logo u-image-1">
            <img src="{{ url_for('static', filename='css/ai-logo.png') }}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="nav-bar u-menu u-menu-one-level u-offcanvas u-menu-1" data-position="nav-bar">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 500;">
                <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-2 u-unstyled u-nav-1 nav-slider">
                    <li class="u-nav-item"><a
                            class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                            href="/" style="padding: 10px 20px;">首页</a>

                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                            href="#" style="padding: 10px 20px;">学习园地</a>
                        <ul class="bb_ul bb_ul_3 frosted-glass">
                            <li><a href="/class">微课堂</a></li>
                            <li><a href="/book">好书推荐</a></li>
                            <li><a href="/quiz">知识竞赛</a></li>
                        </ul>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                            href="#" style="padding: 10px 20px;">线上参观</a>
                        <ul class="bb_ul bb_ul_2 frosted-glass">
                            <li><a href="/3d">3D场馆</a></li>
                            <li><a href="http://museum.odb.sh.cn/images/odb/360/vtour30/index.html">特别展览</a></li>
                        </ul>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                            href="/comments" style="padding: 10px 20px;">我有感想</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


<div class="main liubai bgmustwhite">
    <div class="banner">
        <img src="https://img.gejiba.com/images/506a7f3cdcb5095efb7a638cf0dae5d3.png"
             style="width:auto;object-fit:cover !important;display:inline-block;">
    </div>
    <div class="titi">
        图书详情
    </div>
    <div class="tushu">
        <div class="ydtit">图书信息</div>
        <div class="ydbox1">
            <div class="ydbox1-left">
                <img src="https://img.gejiba.com/images/5ac64d69a3acb6053b7362f3c0c70838.jpg"
                     style="width: 200px;height: 315px;">
            </div>
            <div class="ydbox1-right">
                <h1>《上海旅游指南》）</h1>
                <div class="xinx">作者：上海市旅游局</div>
                <div class="xinx">出版社：上海书店出版社</div>
                <div class="xinx">ISBN：978-7-108-06754-8</div>
                <div class="xinx">出版日期：2009年</div>
                <div class="xinx">定价：￥58.00</div>
            </div>
        </div>
        <div class="ydtit">内容简介：</div>
        <div class="ydbox2">
            <p>
                这是一本关于上海旅游的指南书籍，作者通过深入了解上海的旅游资源和景点，为游客提供了详细的旅行指南。书中包括了上海的自然风光、历史文化景点、购物娱乐场所等方面的介绍，读者可以通过阅读这本书来了解上海的旅游资源和旅行攻略，更好地规划自己的上海之旅。</p>
        </div>
    </div>
</div>


<footer class="u-align-center-sm u-align-center-xs u-clearfix u-footer u-palette-2-dark-2"
        style="
    background: rgb(0,13,36);
background: linear-gradient(0deg, rgba(0,13,36,1) 21%, rgba(0,13,36,0.8772102591036415) 49%, rgba(0,13,36,0.6727284663865547) 73%, rgba(42,54,64,0.5830926120448179) 88%);
    " id="sec-f776">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <p class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn"
           data-animation-duration="2500">推荐网站 </p>
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <p class="u-text u-text-default u-text-2">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="https://www.archives.sh.cn/">上海档案信息网</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <p class="u-text u-text-default u-text-3">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="https://www.shh-shrhmuseum.org.cn/">上海历史博物馆</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <p class="u-text u-text-default u-text-4">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="https://www.xuexi.cn/">学习强国</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <p class="u-text u-text-default u-text-5">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="https://tjj.sh.gov.cn/lsyg/index.html">上海市人民政府</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <p class="u-text u-text-default u-text-6"><a
                                class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                                data-href="http://www.txlzp.com/sheng/shanghai">上海老地图</a></p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <p class="u-text u-text-default u-text-7">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="http://ish.xinmin.cn/xnjx/2017/11/01/31330196.html">央视网</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-7">
                        <p class="u-text u-text-default u-text-8">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="https://www.shanghaimuseum.net/">上海博物馆</a>
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-8">
                        <p class="u-text u-text-default u-text-9">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1"
                               data-href="http://www.aibaohu.com/ShowArticlem.aspx?id=952">中国历史建筑保护网</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icp">© 2024 ShanghaiMemory <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2022023082号</a>
    </div>
</footer>
<span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px; padding: 15px"
      class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
             xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path
                d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>


</body>
</html>
